<!--<input (keyup)="keyup.emit(searchTerm.value)" #searchTerm class="prompt"
       type="text" placeholder="Suche...">-->

<div class="ui search" [ngClass]="{ loading: isLoading }">
  <div class="ui icon input">
    <input (keyup)="keyup.emit(searchTerm.value)" #searchTerm class="prompt"
           type="text" placeholder="Suche...">
    <i class="search icon"></i>
  </div>
  <div class="results transition" [ngClass]="{ visible: foundUser.length}">
    @for (user of foundUser; track user){
      <a href (click)="userSelected.emit(user); false" class="result">
        <div class="content">
          <div class="title" >{{ user.email }}</div>
        </div>
      </a>
    }
  </div>
</div>
