<div class="ui search" [ngClass]="{ loading: isLoading }">
  <div class="ui icon input">
    <input (keyup)="keyup.emit(searchTerm.value)" #searchTerm class="prompt"
           type="text" placeholder="Suche...">
    <i class="search icon"></i>
  </div>
  <div class="results transition" [ngClass]="{ visible: foundCategory.length}">
    @for (category of foundCategory; track category){
      <a href (click)="categorySelected.emit(category); false" class="result">
        <div class="content">
          <div class="title" >{{ category.category }}</div>
        </div>
      </a>
    }
  </div>
</div>
