@if (notelist) {
  <div class="ui segment">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <h1>{{ notelist.name }}</h1>
        <p class="meta">Erstellt von {{ notelist.creator?.firstname }} {{ notelist.creator?.lastname }}</p>
        <button class="ui tiny red labeled icon button" (click)="removeNotelist()">
          <i class="remove icon"></i>Notizbuch löschen
        </button>
        <a class="ui tiny yellow labeled icon button" [routerLink]="'../../notelist-form/'+ notelist.id">
          <i class="edit icon"></i>Notizbuch bearbeiten
        </a>
        <div class="ui middle aligned selection divided list">
          @for (note of notelist.notes; track note) {
            <a class="item" (click)="showNoteDetails(note.id)">
              {{ note.id }} | {{ note.title }}
            </a>
          }
          <button [routerLink]="'/note-form'" [state]="{notelist:notelist.id}" class="ui tiny red labeled icon button">
            <i class="add icon"></i>Notiz hinzufügen
          </button>
        </div>

      </div>
      <div class="column">
        @if (noteDetailsOn) {
          @if (note) {
            <h1>{{ note.title }}</h1>
            @for (category of note.categories; track category) {
              <div class="ui tag label">
                {{ category.category }}
              </div>
            }
            <p>{{ note.description }}</p>
            <div class="ui small images">
              @for (thumbnail of note.images; track thumbnail) {
                <img [src]="thumbnail.url">
              }
            </div>
            <br>
            <h3 *ngIf="note.todos">Todos</h3>
            <div class="ui cards">
              @for (todo of note.todos; track todo) {
              <div class="card">
                <div class="content">
                  <div class="header">{{todo.title}}</div>
                  <div class="meta" *ngIf="todo.due_date">Fällig bis {{todo.due_date}}</div>
                  <div class="description">{{todo.description}}</div>
                  <div *ngIf="todo.completed">
                    <i class="icon checkmark"></i>
                    <span>Erledigt</span>
                  </div>
                  <div *ngIf="!todo.completed">
                    <i class="icon close"></i>
                    <span>Nicht erledigt</span>
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui three buttons">
                    <div *ngIf="!todo.completed" (click)="todoMarkAsChecked(todo, note.id)" class="ui basic green button">Auf erledigt setzen</div>
                    <div (click)="todoDelete(todo.id, note.id)" class="ui basic red button">Löschen</div>
                    <div [routerLink]="'../../todo-form/'+todo.id" class="ui basic yellow button">Bearbeiten</div>
                  </div>
                </div>
              </div>
              }
            </div>

            <br><br>
            <a class="ui tiny yellow labeled icon button" [routerLink]="'../../todo-form/'"
               [queryParams]="{notelistId: notelist.id, noteId: note.id}">
              <i class="plus icon"></i>Todo erstellen
            </a>

            <br><br>
            <button class="ui tiny red labeled icon button" (click)="removeNote()">
              <i class="remove icon"></i>Notiz löschen
            </button>
            <a class="ui tiny yellow labeled icon button" [routerLink]="'../../note-form/'+ note.id">
              <i class="edit icon"></i>Notiz bearbeiten
            </a>
          }
        }
      </div>
      <div class="sixteen wide column">

      </div>
    </div>
    <div class="ui vertical divider"></div>

  </div>
  <button [routerLink]="'/notelists'" class="ui red button">Zurück zur Liste</button>
}
